output
*.la
config.cache
config.log
config.status
autom4te*.cache
stamp-h*
confdefs.h
libtool
depcomp
install-sh
missing
mkinstalldirs
compile
aclocal.m4
config.guess
config.sub
configure
ltmain.sh
uwadv.spec
config.h.in
zzip-config.h
zzip-config
