#
# Underworld Adventures configuration file
#
# All settings are stored as key/value pairs. The pairs must be
# separated by at least one space. For some paths placeholders
# can be used. These are:
#
#  %uwpath%   path of the currently played game (uw1-path or uw2-path)
#  %uadata%   value of the "uadata-path" variable
#  %uahome%   path to the underworld adventures home folder. For linux
#             this is "~/.uwadv/"; For windows it just is the current folder
#
# All placeholder variables end with a slash.
#

#
# path to Ultima Underworld 1 folder (where the uw.exe lives)
# must end with a \ or /
# Underworld Demo (uw_demo) path works, too
# note that placeholders cannot be used!
#

uw1-path c:\uw1\

#
# path to the uadata folder
# must end with a \ or /
# note that placeholders cannot be used!
#

uadata-path ./uadata/

#
# path to a folder where the savegames are stored
# must end with a \ or /
#

savegame-folder %uahome%/uasave/

#
# path to a custom keymap to load
#

custom-keymap %uahome%/keymap.cfg

#
# enables or disables Underworld Adventures specific features and
# enhancements. either set to "yes" or "no"
#

enable-uwadv-features yes

#
# sets the screen resolution to use
# resolution must be specified in the form "<xres> x <yres>", # e.g. "800 x 600"
#
# if using "fullscreen" mode, selected screen resolution must be available
# for the used graphics card
#

screen-resolution 640 x 480

#
# enables fullscreen gameplay
# "yes" enables it, "no" disables it
#

fullscreen no

#
# sets the narration type for cutscenes (including the intro)
# "sound" for sound playback (spoken text) only
# "subtitles" for subtitles only (no sound)
# "both" for sound and subtitles
#

cutscene-narration sound

#
# selects if the audio system should be init'ed and used
# can be true or false
#

audio-enabled true

#
# win32: midi device selection
# determines the midi device to use for the win32 midi driver
#

win32-midi-device -1

#
# end of config
#
