#
# Underworld Adventures configuration file
#
# All settings are stored as key/value pairs. The pairs must be
# separated by at least one space. For some paths placeholders
# can be used. These are:
#
#  %uwpath%   Path of the currently played game (uw1-path or uw2-path).
#  %uadata%   Value of the "uadata-path" variable.
#  %uahome%   Path to the underworld adventures home folder. For linux
#             this is "~/.uwadv/"; For Windows versions that support per-user
#             folders, it is the "common application data folder", such as
#             "C:\Documents and Settings\All Users\Application Data\Underworld Adventures Data\"
#             If that folder doesn't exist, the current folder is used.
#
# All placeholder variables end with a slash, so in principle it is perfectly
# valid to continue with a folder name, e.g. %uahome%uadata/. For better
# readability the slash can be repeated, though: %uahome%/uadata/
#

#
# Path to Ultima Underworld 1 folder (where the uw.exe lives)
# Underworld Demo (uw_demo) path works, too
# Note that placeholders cannot be used!
#

uw1-path c:\uw1\

#
# Path to Ultima Underworld 2 folder (where the uw2.exe lives)
# Note that placeholders cannot be used!
# Note that this doesn't currently work with Underworld Adventures!
#

uw2-path c:\uw2\

#
# Path to the "uadata" folder where the *.uar files reside
# Note that the %uadata% placeholder cannot be used.
#

uadata-path %uahome%/data/

#
# Path to a folder where the savegames are stored.
# The folder is created when it doesn't exist.
#

savegame-folder %personal-folder%/Underworld Adventures Savegames/

#
# Path to a custom keymap to load.
#

custom-keymap %uahome%/keymap.cfg

#
# Enables or disables Underworld Adventures specific features and
# enhancements. Either set to "true" or "false".
#

enable-uwadv-features true

#
# Sets the screen resolution to use.
# Resolution must be specified in the form "<xres> x <yres>",
# e.g. "800 x 600".
#
# If using "fullscreen" mode, selected screen resolution must be available
# for the used graphics card.
#

screen-resolution 640 x 400

#
# Enables fullscreen gameplay.
# "true" enables it, "false" disables it.
#

fullscreen false

#
# Enables the "smooth" drawing of the user interface graphics.
# When disabled, the graphics look more "pixely".
# "true" enables it, "false" disables it.
#

smooth-ui true

#
# Sets the narration type for cutscenes (including the intro).
# "sound" for sound playback (spoken text) only
# "subtitles" for subtitles only (no sound)
# "both" for sound and subtitles
#

cutscene-narration sound

#
# Selects if the audio system should be init'ed and used.
# Can be "true" or "false".
#

audio-enabled true

#
# Windows only: midi device selection
# Determines the midi device to use for the win32 midi driver.
#

win32-midi-device -1

#
# End of config.
#
