<?xml version='1.0'?>
<!--

 Underworld Adventures - an Ultima Underworld hacking project
 Copyright (c) 2005 Underworld Adventures Team

 This program is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

 $Id$

-->
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Product Id="22286665-1215-4d00-a87f-7e239ee56f3e"
      Name="Underworld Adventures" Language="1033"
      Version="0.10.0.0" Manufacturer="Michael Fink">
    <Package Id="e3b56be4-5df1-4e68-9566-688afbfe379d"
      Description="Underworld Adventures Installer"
      Comments="This installs Underworld Adventures"
      Manufacturer="Michael Fink" InstallerVersion="200"
      AdminImage="no" Compressed="yes" ShortNames="no"
      Keywords="Underworld Adventures, Ultima, Ultima Underworld, Stygian Abyss"
      Platforms="Intel" />

    <Media Id="1" Cabinet="uwadv.cab" EmbedCab="yes" />

    <Directory Id="INSTALLDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="." SourceName=".">
        <Directory Id="UnderworldAdventures" Name="uwadv" LongName="Underworld Adventures">
          <Directory Id="TARGETDIR" Name=".">
            <Component Id="UnderworldAdventuresApp" Guid="f1fc0646-d06c-4a72-bf63-7abbac37bab4">
              <File Id="UwadvExe" Name="uwadv.exe" LongName="uwadv.exe" DiskId="1" KeyPath="yes" src="..\vc71\Release\uwadv.exe" />
              <ProgId Id="UnderworldAdventuresSavegame" Advertise="no" Description="Underworld Adventures Savegame" Icon="[TARGETDIR]uwadv.exe">
                <Extension Id="uas" Advertise="no">
                  <Verb Id="open" Command="Open" Target='[TARGETDIR]uwadv.exe "%s"' />
                </Extension>
              </ProgId>
              <Registry Action="createKeyAndRemoveKeyOnUninstall" Root="HKCR" Key="Applications\uwadv.exe\SupportedTypes">
                <Registry Name=".uas" Type="string" />
              </Registry>
            </Component>
            <Component Id="UnderworldAdventuresShortcut" Guid="dc848364-47f7-44f5-b7dd-2a050f92ad1c">
              <Registry Id="RegistryKey1" Root="HKCU" Key="Software\Underworld Adventures\Install" Name="UwadvShortcutPresent" KeyPath="yes" />
              <Shortcut Id="Shortcut1" Directory="UnderworldAdventuresShortcutFolder" Name="uwadv" LongName="Underworld Adventures"
                Target="[TARGETDIR]uwadv.exe" Icon="UnderworldAdventuresShortcutIcon" IconIndex="0" Show="normal"
                Description="Starts Underworld Adventures" Advertise="no" WorkingDirectory="[TARGETDIR]" />
              <RemoveFolder Directory="UnderworldAdventuresShortcutFolder" On="uninstall" Id="Shortcut1" />
            </Component>

            <Component Id="UnderworldAdventuresManual" Guid="7e062618-c759-4f18-a14c-0d69654e2fbe">
              <File Id="UwadvManualHtml" Name="uwadvm~1.htm" LongName="uwadv-manual.html" DiskId="1" KeyPath="yes" src="..\..\docs\docbook\uwadv-manual.html" />
            </Component>
            <Component Id="UnderworldAdventuresManualShortcut" Guid="c81f4230-1af9-4b7b-825c-015b3a6e6118">
              <Registry Id="RegistryKey4" Root="HKCU" Key="Software\Underworld Adventures\Install" Name="UwadvManualShortcutPresent" KeyPath="yes" />
              <Shortcut Id="Shortcut4" Directory="UnderworldAdventuresShortcutFolder" Name="uwadvm~1" LongName="Underworld Adventures Manual"
                Target="[TARGETDIR]uwadv-manual.html" Show="normal"
                Description="Opens the Underworld Adventures Manual" Advertise="no" WorkingDirectory="[TARGETDIR]" />
              <RemoveFolder Directory="UnderworldAdventuresShortcutFolder" On="uninstall" Id="Shortcut4" />
            </Component>

            <Component Id="UnderworldAdventuresConfigApp" Guid="2ee47c18-c120-412d-860e-d45c6ffe261a">
              <File Id="UaconfigExe" Name="uaconfig.exe" LongName="uaconfig.exe" DiskId="1" KeyPath="yes" src="..\vc71\Release\uaconfig.exe" />
            </Component>
            <Component Id="UnderworldAdventuresConfigShortcut" Guid="c9f7552f-0d52-4c7d-ae4e-6ec4605611fd">
              <Registry Id="RegistryKey2" Root="HKCU" Key="Software\Underworld Adventures\Install" Name="UaconfigShortcutPresent" KeyPath="yes" />
              <Shortcut Id="Shortcut2" Directory="UnderworldAdventuresShortcutFolder" Name="uaconfig" LongName="Configuration"
                Target="[TARGETDIR]uaconfig.exe" Icon="UnderworldAdventuresConfigShortcutIcon" IconIndex="0" Show="normal"
                Description="Starts Underworld Adventures Configuration" Advertise="no" WorkingDirectory="[TARGETDIR]" />
              <RemoveFolder Directory="UnderworldAdventuresShortcutFolder" On="uninstall" Id="Shortcut2" />
            </Component>

            <Component Id="SdlLibrary" Guid="6ef91d1b-c139-4e65-a6a2-2132b65752c5">
              <File Id="SdlDll" Name="SDL.dll" LongName="SDL.dll" DiskId="1" KeyPath="yes" src="..\vc71\Release\SDL.dll" />
            </Component>
            <Component Id="SdlMixerLibrary" Guid="a377c5e3-9268-4d3c-9ed5-1cf7d0538bd2">
              <File Id="SdlMixerDll" Name="SDL_mi~1.dll" LongName="SDL_mixer.dll" DiskId="1" KeyPath="yes" src="..\vc71\Release\SDL_mixer.dll" />
            </Component>

            <Component Id="UnderworldAdventuresStudioApp" Guid="ee7c5f0e-a713-4db5-bf7b-3149df5ec480">
              <File Id="UastudioExe" Name="uastudio.exe" LongName="uastudio.exe" DiskId="1" KeyPath="yes" src="..\vc71\Release\uastudio.exe" />
            </Component>
            <Component Id="UnderworldAdventuresStudioShortcut" Guid="8c5a72f5-ea19-470b-90e7-118eec7004d3">
              <Registry Id="RegistryKey3" Root="HKCU" Key="Software\Underworld Adventures\Install" Name="UastudioShortcutPresent" KeyPath="yes" />
              <Shortcut Id="Shortcut3" Directory="UnderworldAdventuresShortcutFolder" Name="uastudio" LongName="Underworld Adventures Studio"
                Target="[TARGETDIR]uastudio.exe" Icon="UnderworldAdventuresStudioShortcutIcon" IconIndex="0" Show="normal"
                Description="Starts Underworld Adventures Studio" Advertise="no" WorkingDirectory="[TARGETDIR]" />
              <RemoveFolder Directory="UnderworldAdventuresShortcutFolder" On="uninstall" Id="Shortcut3" />
            </Component>

            <Component Id="UnderworldAdventuresStudioManual" Guid="9c0f867b-8607-4108-8ca7-3d5246a8b63f">
              <File Id="UastudioManualHtml" Name="uastud~1.htm" LongName="uastudio-manual.html" DiskId="1" KeyPath="yes" src="..\..\docs\docbook\uastudio-manual.html" />
            </Component>
            <Component Id="UnderworldAdventuresStudioManualShortcut" Guid="d1707ece-134e-4d3d-928d-d0eacc97521b">
              <Registry Id="RegistryKey5" Root="HKCU" Key="Software\Underworld Adventures\Install" Name="UastudioManualShortcutPresent" KeyPath="yes" />
              <Shortcut Id="Shortcut5" Directory="UnderworldAdventuresShortcutFolder" Name="uastudio" LongName="Underworld Adventures Studio Manual"
                Target="[TARGETDIR]uastudio-manual.html" Show="normal"
                Description="Opens the Underworld Adventures Studio Manual" Advertise="no" WorkingDirectory="[TARGETDIR]" />
              <RemoveFolder Directory="UnderworldAdventuresShortcutFolder" On="uninstall" Id="Shortcut5" />
            </Component>

            <Component Id="UnderworldAdventuresDebuggerDll" Guid="dc493173-7fa6-4b91-ae9a-ad1e09e4991a">
              <File Id="UadebugDll" Name="uadebug.dll" LongName="uadebug.dll" DiskId="1" KeyPath="yes" src="..\vc71\Release\uadebug.dll" />
            </Component>
            <Component Id="StrPakTool" Guid="b4ee56db-d6fd-45ba-97c4-7c90c7b74175">
              <File Id="StrPakExe" Name="strpak.exe" LongName="strpak.exe" DiskId="1" KeyPath="yes" src="..\vc71\Release\strpak.exe" />
            </Component>
            <Component Id="ScintillaLexer" Guid="96a92fc3-b7ec-4d7c-a63d-6657fcc918c2">
              <File Id="SciLexerDll" Name="SciLexer.dll" LongName="SciLexer.dll" DiskId="1" KeyPath="yes" src="..\..\source\win32\uadebug\thirdparty\scintilla\SciLexer.dll" />
            </Component>
            <Component Id="LuaCompiler" Guid="5707964b-f944-4d0b-9586-9c94e7130bdd">
              <File Id="LuaCExe" Name="luac.exe" LongName="luac.exe" DiskId="1" KeyPath="yes" src="..\vc71\Release\luac.exe" />
            </Component>

            <Merge Id="MergeMsvc71CRuntime" Language="1033" DiskId="1" src="VC_User_CRT71_RTL_X86_---.msm" />
            <Merge Id="MergeMsvc71CppRuntime" Language="1033" DiskId="1" src="VC_User_STL71_RTL_X86_---.msm" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="." SourceName=".">
        <Directory Id="UnderworldAdventuresShortcutFolder" Name="uwadv" LongName="Underworld Adventures" />
      </Directory>
      <Directory Id="CommonAppDataFolder" Name="." SourceName=".">
        <Directory Id="UnderworldAdventuresAppDataFolder" Name="underw~1" LongName="Underworld Adventures">
          <Component Id="UnderworldAdventuresConfigFile" Guid="2ef55bad-5de5-4659-8906-4fbaaa13c3bb">
            <File Id="UwadvCfg" Name="uwadv.cfg" LongName="uwadv.cfg" DiskId="1" KeyPath="yes" src="..\..\win32\uwadv.cfg" />
          </Component>
          <Directory Id="UnderworldAdventuresUadataFolder" Name="uadata">
            <Component Id="UnderworldAdventuresResource00" Guid="259c9880-2510-42ed-923f-babdddfa0600">
              <File Id="Uadata00Uar" Name="uadata00.uar" LongName="uadata00.uar" DiskId="1" KeyPath="yes" src="..\..\uadata\uadata00.uar" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Icon Id="UnderworldAdventuresShortcutIcon" src="..\..\source\win32\Uus.ico" />
    <Icon Id="UnderworldAdventuresConfigShortcutIcon" src="..\..\source\win32\uaconfig\Corp.ico" />
    <Icon Id="UnderworldAdventuresStudioShortcutIcon" src="..\..\source\win32\uastudio\Sanct.ico" />

    <Feature Id="UnderworldAdventures" Title="Underworld Adventures"
        Description="Installs the Underworld Adventures game." Level="1"
        AllowAdvertise="no" TypicalDefault="install" ConfigurableDirectory="TARGETDIR">
      <ComponentRef Id="UnderworldAdventuresApp" />
      <ComponentRef Id="UnderworldAdventuresShortcut" />
      <ComponentRef Id="UnderworldAdventuresManual" />
      <ComponentRef Id="UnderworldAdventuresManualShortcut" />
      <ComponentRef Id="UnderworldAdventuresConfigApp" />
      <ComponentRef Id="UnderworldAdventuresConfigShortcut" />
      <ComponentRef Id="SdlLibrary" />
      <ComponentRef Id="SdlMixerLibrary" />
      <ComponentRef Id="UnderworldAdventuresConfigFile" />
      <ComponentRef Id="UnderworldAdventuresResource00" />
      <MergeRef Id="MergeMsvc71CRuntime" />
      <MergeRef Id="MergeMsvc71CppRuntime" />
    </Feature>

    <Feature Id="UnderworldAdventuresStudio" Title="Underworld Adventures Studio"
        Description="Installs the Underworld Adventures Studio application." Level="1"
        AllowAdvertise="no" ConfigurableDirectory="TARGETDIR">
      <ComponentRef Id="UnderworldAdventuresStudioApp" />
      <ComponentRef Id="UnderworldAdventuresStudioShortcut" />
      <ComponentRef Id="UnderworldAdventuresStudioManual" />
      <ComponentRef Id="UnderworldAdventuresStudioManualShortcut" />
      <ComponentRef Id="UnderworldAdventuresDebuggerDll" />
      <ComponentRef Id="UnderworldAdventuresConfigApp" />
      <ComponentRef Id="UnderworldAdventuresConfigShortcut" />
      <ComponentRef Id="StrPakTool" />
      <ComponentRef Id="SdlLibrary" />
      <ComponentRef Id="ScintillaLexer" />
      <ComponentRef Id="LuaCompiler" />
      <ComponentRef Id="UnderworldAdventuresConfigFile" />
      <ComponentRef Id="UnderworldAdventuresResource00" />
      <MergeRef Id="MergeMsvc71CRuntime" />
      <MergeRef Id="MergeMsvc71CppRuntime" />
    </Feature>

    <FragmentRef Id="StandardUserInterface" />
    <FragmentRef Id="ErrorTextList" />

    <Property Id="SHOWCUSTOMSETUP"><![CDATA[1]]></Property>
    <Property Id="SHOWLAUNCHREADME"><![CDATA[0]]></Property>
    <Property Id="READMEFILETOLAUNCHATEND"><![CDATA[readme.txt]]></Property>
    <Property Id="SHOWLAUNCHPROGRAM"><![CDATA[0]]></Property>
    <Property Id="PROGRAMFILETOLAUNCHATEND"><![CDATA[[TARGETDIR]uaconfig.exe]]></Property>
    <Property Id="LAUNCHPROGRAM"><![CDATA[1]]></Property>
    <Property Id="LAUNCHREADME"><![CDATA[1]]></Property>

    <Property Id="ARPURLINFOABOUT"><![CDATA[http://uwadv.sourceforge.net/]]></Property>
    <Property Id="ARPCOMMENTS"><![CDATA[For more information, please visit http://uwadv.sourceforge.net/]]></Property>

    <!-- TODO: add upgrade item for new version with Id as the old ProductCode -->
    <!-- Upgrade Id="OldProductCode">
      <UpgradeVersion Maximum="0.09.0000" Property="ACTIONPROP1" MigrateFeatures="yes" IncludeMinimum="yes" />
      <Property Id="ACTIONPROP1" Secure="yes" />
    </Upgrade -->

  </Product>
</Wix>
