Source: uwadv
Section: contrib/games
Priority: optional
Maintainer: Radoslaw Grzanka <sad@rpg.pl>
Build-Depends: debhelper (>> 3.0.0), binutils (>= 2.12.90.0.1-4), gcc-2.95, libc6 (>=2.2.5-11.2), libncurses5 (>=5.2.20020112a-7), libsdl1.2debian-oss (>=1.2.4-1), libsdl1.2-dev (>=1.2.4-1), libstdc++2.10-glibc2.2, xlibs(>=4.1.0-16)
Standards-Version: 3.5.2

Package: uwadv
Architecture: any
Depends: ${shlibs:Depends}, debconf
Description: Remake of Ultima Underworld 1 game
 Underworld Adventures is a project to recreate Ultima Underworld 1 on modern
 operating systems (e.g. Win32, Linux or MacOS), using the original game files.
 It uses OpenGL for 3D graphics, the SDL library for platform specific tasks
 and Lua for scripting. It is developed as Open Source and is licensed under
 the GNU General Public License.
 .
 Remember to read /usr/share/doc/uwadv/README.Debian before you run this game
 .
 You need original Ultima Underworld 1 game files (or the files from the 
 Ultima Underworld Demo, "uw_demo").
